* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.row {
    width: 100%;
    display: flex;
}

.grey-text {
    color: #555;
}

.white-text {
    color: #fff;
}

.fl-r {
    float: right;
}
.clrfx {
    content: "";
    display: table;
    clear: both;
}

/* ========================================== */


/* general dimensions */

.container {
    height: 100vh;
    width: 100%;
}

.main-row {
    height: calc(100vh - 80px);
}

.main-row .sidebar {
    background-color: #191414;
    width: 160px;
    height: 100%;
}

.main-row .main {
    background-color: #191414;
    opacity: .98;
    width: calc(100% - 160px);
    height: 100%;
}


.nav-bar {
    background-color: darkgoldenrod;
    height: 80px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

/* sidebar */

.sidebar .logo-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar .logo-container img {
    height: 50%;
}

/* main */

.main .banner {
    width: 100%;
    height: 80px;
    background-color: #000;
    opacity: 80%;
    /* non sembra esserci bisogno di z-index */
    justify-content: flex-end;
    align-items: center;
}

.banner .button {
    font-weight: 600;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.main .screen {
    width: 100%;
    height: calc(100% - 80px);

    overflow: auto;
}

.screen .menu {
    list-style: none;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.screen .menu li {
    padding: 5px 10px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;

    position: relative;
}
.screen .menu li:hover::before {    /* green select bar */
    content: "";
    width: 30%;
    border-top: 2px solid #1DB954;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}


.screen .album {
   
}

/* nav-bar */

.nav-bar-left, .nav-bar-right {
    background-color: red;
    border: 2px solid red;
    height: 100%;
    width: 160px;
}

.nav-bar-center {
    background-color: red;
    border: 1px solid #000;
    height: 100%;
    width: calc(100% - 160px * 2);

    min-width: 200px;
}







/* phone */
@media screen and (max-width: 576px) {
    /* main row */
    .main-row .sidebar {
        width: 60px;
        background-color: black;
    }

    .main-row .main {
        width: calc(100% - 60px);
    }

    

}