* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
}

.flex {
    width: 100%;
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grey-text {
    color: #555;
}
.white-text {
    color: #fff;
}
.light-grey-text {
    color: #aaa;
}


/* ========================================== */


/* general dimensions */

.container {
    height: 100vh;
    width: 100%;
}

.main-row {
    height: calc(100vh - 80px);
}

.main-row .sidebar {
    background-color: #191414;
    width: 200px;
    height: 100%;

    padding-left: 20px;

    overflow: hidden;
}

.main-row .main {
    background-color: #0b0a22;
    width: calc(100% - 200px);
    height: 100%;
}


.player {
    background-color: #333;
    height: 80px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

/* #region SIDEBAR */
/* padding-left: 20px su tutta la sidebar -- cf. general dimensions */

.sidebar .logo-container {
    height: 80px;

    display: flex;
    align-items: center;
}
.sidebar .logo-container img {
    height: 40%;
}

.sidebar .menu-container {
    list-style: none;
}
.sidebar .menu-item {
    margin-bottom: 10px;
    cursor: pointer;

    position: relative;
}
.sidebar .menu-item:hover::before {    /* green select bar */
    content: "";
    height: 100%;
    border-left: 4px solid #1DB954;
    position: absolute;
    left: -19px;
    transform: translate(-50%, 0);
}

.sidebar .menu-item i {
    font-size: 20px;
    padding-right: 5px;
    vertical-align: middle;
}

.sidebar .playlist-container {
    flex-grow: 1;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    min-height: 250px;
}


.sidebar .playlist-button-container {
    margin: 10px 0;
}
.playlist-container .create-playlist-button {
    cursor: pointer;
    margin-top: 10px;
}
.create-playlist-button .button-plus {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: #191414;
    background-color: #aaa;
    vertical-align: middle;
    margin-right: 10px;
}


.sidebar .playlist-box {
    overflow-y: auto;
    min-height: 150px;

    flex-grow: 1;
}
.playlist-box ul {
    list-style: none;
}
.sidebar .playlist-item {
    padding: 7px 0;
}

.sidebar .lower-container {
    margin-right: 20px;
}

.lower-container .user-info {
    margin: 10px 0;
    padding-top: 15px;
    border-top: 2px solid #555;
}
.lower-container .user-info span {
    font-size: 16px;
    margin-left: 10px;
}
.lower-container .user-info i {
    font-size: 20px;
    font-weight: 300;
    background-color: #555;
    border-radius: 50%;
}

.lower-container .installa-app span {
    margin-left: 10px;
}
/* #endregion */

/* #region MAIN - banner & navbar */

.main .banner {
    width: 100%;
    height: 80px;
    background-color: #000;
    opacity: 80%;
    /* non sembra esserci bisogno di z-index */
    justify-content: flex-end;
    align-items: center;
}

.banner .button {
    font-weight: 600;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
}

.main .screen {
    width: 100%;
    height: calc(100% - 80px);

    padding: 0 20px;
    overflow-y: scroll;
}

.screen .navbar {
    list-style: none;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.screen .navbar li {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    position: relative;
}
.screen .navbar li:hover::before {    /* green select bar */
    content: "";
    width: 30%;
    border-top: 2px solid #1DB954;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
/* #endregion */

/* #region ALBUMS */

.albums .album-row {
   margin: 20px 0;
}

.album-row h2 {
    font-size: 18px;
    margin: 10px 0;
}

.album-row .album {
    max-width: calc((100vw - 200px) / 7);    /* con flex come avrei fatto con le dimensioni dei quadrati ? */
    margin: 10px 5px;
}

.album-row .album .img-container {
    position: relative;

    overflow: hidden;
}
.album-row .album .img-container:hover::before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40%;      /* porkaround */
    background-color: #191414;
    opacity: .8;
    position: absolute;
    
}

.album-row .img-container img {
    width: 100%;
}

.album-row ul {
    list-style: none;
    width: 100%;

    justify-content: flex-start;
}
.album-row ul:first-child {
    justify-content: space-between;
}
.album h4, .album p {
    text-align: center;

}
/* #endregion */

/* #region PLAYER */

.player-left, .player-right {
    border: 2px solid red;
    height: 100%;
    width: 200px;
    max-width: calc(100% / 3);
}

.player-center {
    height: 100%;
    
    flex-grow: 1;
    min-width: calc(100% / 3);
}

.player-center .playback-controls {
    text-align: center;
    padding: 20px 0;

    justify-content: center;
    column-gap: 30px;
}

.playback-controls [class*="fa-"] {
    transform: scale(1.5);
    /* margin: 0 15px; */
    cursor: pointer;
}
.playback-controls .fa-play-circle {
    transform: scale(2.5);
}

.player-center .playback-progress {
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.playback-progress .progress-bar {
    height: 5px;
    border-radius: 5px;
    background-color: #555;
}
.progress-bar.bar {
    width: 60%;
    min-width: ;
}
.progress-bar.progress {
    width: 20%;
    background-color: #aaa;
}

/* #endregion */

.media_show_mobile {
    display: none;
}

/* tablet */
@media screen and (max-width: 992px) {
    .album-row ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .album-row .album {
        max-width: calc((100vw - 200px) / 4 - 20px);    /* con flex come avrei fatto con le dimensioni dei quadrati ? */
    }
}


/* intermediate */
@media screen and (max-width: 768px) {
    .album-row .album {
        max-width: calc((100vw - 200px) / 2 - 30px);    /* con flex come avrei fatto con le dimensioni dei quadrati ? */
    }
}


/* phone */
@media screen and (max-width: 576px) {
    /* main row */
    .main-row .sidebar {
        width: 60px;
        padding: 0;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar > * {
        padding: 0;
        margin: 0;
    }
    .sidebar .menu-item {
        padding-left: 5px;
    }
    .sidebar .playlist-container.media_hide_mobile {
        display: none;
    }
    .sidebar .lower-container {
        margin: 0;
    }
    .lower-container .user-info {
        border: 0;
    }


    .main-row .main {
        width: calc(100% - 60px);
    }

    .album-row .album {
        max-width: calc((100vw - 60px) / 2 - 30px);    /* con flex come avrei fatto con le dimensioni dei quadrati ? */
    }
   

    .media_hide_mobile {
        display: none;
    }
    .media_show_mobile {
        display: block;
    }

}